header.dev-header {
    height: 104px;
    background-color: #949494;
    padding: 24px 0;
}
.dev-header--content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dev-breadcrumbs {
    padding: 36px 0;
    background-color: #FFFFFF;
}