.l-careers__banner {
    display: flex;
    max-height: 488px;
    img {
        width: 100%;
        object-fit: cover;
    }
}

.l-careers__main {
    margin-top: 18px;
}

.l-careers--df {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.l-careers__main--left {
    max-width: 66%;
}

.l-main__title {
    h3 {
        font-weight: 750;
        font-size: 60px;
        line-height: 66px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
    }
}

.l-main__subtitle {
    margin-top: 48px;
    span {
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.l-redline--container {
    padding: 20px 0;
    background: #ff0000;
    display: flex;
    overflow: hidden;
    span {
        white-space: nowrap;
        font-weight: 400;
        font-size: 32px;
        line-height: 48px;
        text-transform: uppercase;
        color: #ffffff;
        margin-right: 39px;
    }
    div {
        display: flex;
        animation-direction: reverse;
        animation-duration: 10s;
        animation-name: redlineMove;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

@keyframes redlineMove {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

section.l-careers__practice {
    position: relative;
    .l-main__title {
        h3 {
            line-height: 52px;
            letter-spacing: 0.05em;
        }
    }
    .l-practice--gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .l-gallery--item {
        max-width: 380px;
        max-height: 250px;
    }
    .l-triangle {
        position: absolute;
        right: 0;
        bottom: -200px;
        width: 316px;
        height: 797px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        background: linear-gradient(271.85deg, #ffffff -39.42%, rgba(255, 255, 255, 0) 127.21%);
    }
    .l-triangle--border {
        position: relative;
        width: 275px;
        height: 743px;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        background: #ff0000;
        span {
            position: absolute;
            top: 430px;
            right: -90px;
            z-index: 100;
            font-weight: 600;
            font-size: 41.0944px;
            line-height: 42px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #ffffff;
            transform: rotate(-70.17deg);
        }
    }
}

.l-practice--gallery {
    margin-top: 58px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.l-gallery--item {
    position: relative;
    margin-right: 20px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
    }
    &::before {
        content: "";
        position: absolute;
        bottom: 10px;
        left: 10px;
        width: 100%;
        height: 100%;
        background-color: #ff0000;
    }
    &:last-child {
        margin-right: 0;
    }
}

.l-practice--description {
    margin-top: 36px;
    max-width: 66%;
    span {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #000000;
    }
}
.l-practice__descritption--contacts {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
    i {
        width: 36px;
        height: 30px;
        background-repeat: no-repeat;
    }
    a {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
    }
}
.l-careers--accordion {
    margin-top: 28px;
    overflow: hidden;
}
.l-careers__accordion--container {
    .l-careers__accordion--btn i {
        transform: rotate(180deg);
    }
}
.l-careers__accordion--container.l-active {
    .l-careers__accordion--btn i {
        transform: rotate(0deg);
    }
}

.l-careers__accordion--btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
    font-weight: 450;
    font-size: 22px;
    line-height: 24px;
    text-decoration: none;
    border-bottom: 2px solid #000000;
    filter: drop-shadow(0px 0px 16px rgba(129, 140, 153, 0.16));
    i {
        width: 14px;
        height: 8px;
        background-repeat: no-repeat;
        margin-right: 6px;
        transition: 0.2s;
    }
}
.l-careers__accordion--content {
    // display: none;
    max-height: 0;
    height: 100%;
    transition: max-height 0.3s ease-out;
    padding: 0 0 0 35px;
    overflow: hidden;
    li {
        padding: 16px 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
    }
}
.l-careers__accordion--content.l-active {
    display: block;
    max-height: 500px;
    height: auto;
    overflow: visible;
    transition: max-height 0.3s ease-in;
}
.l-accordion_form--send {
    display: flex;
    margin-top: 24px;
    a {
        max-width: 200px;
        width: 100%;
        padding: 10px 0;
        background: #ff0000;
        border-radius: 42px;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        text-decoration: none;
        color: #ffffff;
        text-align: center;
        transition: 0.3s;
    }
}

section.l-careers__grants {
    .l-gallery--item {
        max-width: 570px;
        max-height: 387px;
    }
    .l-practice--gallery {
        padding-bottom: 40px;
    }
    .l-gallery--item:first-child:before {
        left: -10px;
        bottom: 10px;
    }
    .l-gallery--item:last-child:before {
        left: 10px;
        top: 10px;
    }
}

section.l-careers__internship {
    .l-practice--gallery {
        padding-bottom: 40px;
    }
    .l-gallery--item:first-child:before {
        left: -10px;
        top: 10px;
    }
    .l-gallery--item:last-child:before {
        left: 10px;
        bottom: 10px;
    }
}

@media screen and (max-width: 1024px) {
    .l-main__title h3 {
        font-size: 50px;
        line-height: 55px;
    }
    .l-triangle {
        display: none!important;
    }
}

@media screen and (max-width: 910px) {
    .l-main__title h3 {
        font-size: 36px;
        line-height: 44px;
    }
    .l-main__subtitle {
        margin-top: 35px;
    }
}

@media screen and (max-width: 768px) {
    .l-careers__main {
        position: relative;
        margin-top: 40px;
    }
    .l-careers__main--left {
        max-width: 100%;
        position: relative;
        z-index: 2;
    }
    .l-careers__main--right {
        position: absolute;
        top: 0;
        right: 0;
    }
    .l-careers__main--img {
        max-width: 250px;
        max-height: 250px;
        img {
            width: 100%;
        }
    }
    .l-redline--container {
        padding: 10px 0;
        span {
            font-size: 24px;
        }
    }
    .l-practice--description {
        max-width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .l-careers__students {
        padding-top: 40px;
        position: relative;
    }
    .l-careers__banner {
        height: 274px;
    }
    .l-careers__main {
        margin-top: 0;
    }
    .l-careers__main--left {
        max-width: 100%;
    }
    .l-main__title h3 {
        font-weight: 600;
        letter-spacing: normal;
    }
    .l-careers__main--right {
        position: absolute;
        top: 9px;
        right: 0;
        width: 92px;
        height: 88px;
        img {
            width: 100%;
        }
    }
    .l-main__subtitle {
        margin-top: 40px;
        span {
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            text-shadow: none;
        }
    }

    .l-redline--container {
        padding: 10px 0;
        span {
            font-size: 18px;
            line-height: 48px;
            margin-right: 24px;
        }
    }

    section.l-careers__practice .l-gallery--item {
        max-height: 380px;
        max-width: 100%;
    }
    
    .l-practice--gallery {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .l-gallery--item {
        margin-right: 0;
    }
    .l-practice--description {
        margin-top: 30px;
        span {
            font-size: 16px;
            line-height: 27px;
        }
    }
    .l-practice__descritption--contacts {
        margin-top: 20px;
    }
    .l-careers__accordion--btn {
        font-size: 18px;
        line-height: 24px;
        padding-bottom: 12px;
        border-bottom: 1px solid #000000;
    }
    .l-careers__accordion--content {
        margin-top: 12px;
        li {
            padding: 14px 0;
            font-size: 16px;
            line-height: 28px;
        }
    }
}
@media screen and (max-width: 325px) {
    .l-careers__main--left {
        position: relative;
        z-index: 2;
    }
    .l-main__title h3 {
        font-size: 34px;
    }
}