*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: Avenir;
	font-style: normal;
	font-weight: 400;
	color: #000000;
}


ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

main {
	background-color: #91E0FF;
}

.l-pt-84 {
	padding-top: 84px;
}
.l-pb-84 {
	padding-bottom: 84px;
}